<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="RestAPITestSuite">
<listeners>
 <listener class-name="amp.api.utilities.Listeners"/>
</listeners>

<test thread-count="1" name="RestAPITest">
<classes>
<class name ="amp.api.testcases.Test001_Get_All_Persons"></class>
</classes>
</test>

</suite>
